.addCards{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    max-width: 100%; ;
    
}

.addCardsButtons{
    display: flex;
    
    flex-direction: row;
    margin-bottom: 5px;
}


.cardWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background-color: #60331b83;
    border-radius: 10px;
    padding: 10px;
}

.listWrapper{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.listTitle{
    width: 89.2%;


}

.listDesc{
    height: 80px;
    width: 90%;
    text-align: left;
    font-size: 15px;
    color: #b4ceb1;
    resize: vertical;
    max-height: 180px;
    overflow-y: auto;
    
}

.checkBox{
    text-align: right;
    margin-left: 20px;
    padding: 0px;
    align-self: center;
}

.boxCompleted {
    
    display: flex;
    margin-bottom: 50px;
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    padding: 10px;
}

.boxCompleted input[type="text"],
.boxCompleted textarea {
    text-decoration: line-through;
    color: #888;
}





.checkBox input[type="checkbox"]{
    transform: scale(2.5);
}

